:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 24px;

  .sidebar-container {
    height: 100%;
    width: 220px;
    background: hsl(var(--color-sidebar));
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: var(--border-radius);

    padding: 16px;
  }

  app-sidebar-footer {
    margin-top: auto;
  }

  section {
    padding: 24px;
    border: hsl(var(--color-border)) 1px solid;
    height: 100%;
    width: 100%;
    background: hsl(var(--color-background-contrast));
    box-shadow: 0px 3px 5px 0px hsla(var(--color-shadow), 0.2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    gap: 75px;
  }
}
